In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## import the data and make a dataframe

In [8]:
suicide_data = pd.read_csv('SuicideBD-dataset.csv')
df = suicide_data.copy()
df.set_index('id', inplace=True)
pd.options.display.max_columns = None

In [9]:
df.head(3)

,full_name,age_group,age,gender,profession_group,religion,hometown,latitude,longitude,reason,reason_description,time,method,data_source,suicide_date,unix_time,temperature,feels_like,temp_min,temp_max,air_pressure,air_humidity,wind_speed,wind_deg,clouds_sky,weather_main,weather_description
id,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,Parvez,Teen,22,Male,Worker,Muslim,Brahmanbaria,23.964142,91.118301,Harassment,Assault,afternoon,NaN,https://www.dhakatribune.com/bangladesh/nation...,30/10/20,1604016000,299.15,302.86,299.15,299.15,1008,83,2.10,320,40,Haze,haze
1,Alhaj Uddin,Teen,20,Male,NaN,Muslim,Sylhet,24.894930,91.868706,Relatiohship problem,Failed love relationship,Night,Hanging,https://www.dhakatribune.com/bangladesh/nation...,4/11/2020,1604448000,295.57,299.17,295.57,295.57,1012,96,1.39,116,33,Clouds,scattered clouds
2,Priti Akter,Teen,14,Female,Student,Muslim,Manikganj,23.861650,90.000320,NaN,NaN,Morning,Hanging,https://www.dhakatribune.com/bangladesh/nation...,25/9/20,1600992000,301.15,304.33,301.15,301.15,1004,78,3.60,190,75,Drizzle,drizzle

## data cleaning

In [10]:
# delete any duplicate row?
df = df.drop_duplicates()

In [11]:
# delete unnecessary column for analysis
df.drop(['reason_description','data_source','temperature','feels_like','temp_min','temp_max','air_pressure','air_humidity','wind_speed','wind_deg','clouds_sky','weather_description'], axis=1, inplace=True )

In [12]:
df.head()

,full_name,age_group,age,gender,profession_group,religion,hometown,latitude,longitude,reason,time,method,suicide_date,unix_time,weather_main
id,,,,,,,,,,,,,,,
0,Parvez,Teen,22,Male,Worker,Muslim,Brahmanbaria,23.964142,91.118301,Harassment,afternoon,NaN,30/10/20,1604016000,Haze
1,Alhaj Uddin,Teen,20,Male,NaN,Muslim,Sylhet,24.894930,91.868706,Relatiohship problem,Night,Hanging,4/11/2020,1604448000,Clouds
2,Priti Akter,Teen,14,Female,Student,Muslim,Manikganj,23.861650,90.000320,NaN,Morning,Hanging,25/9/20,1600992000,Drizzle
3,Acchia Akhter,NaN,NaN,Female,Student,Muslim,Bogra,24.850980,89.371080,Relatiohship problem,Morning,Hanging,24/9/20,1600905600,Rain
4,Dilshad Nahar,Teen,18,Female,Student,Muslim,Dhaka,23.810331,90.412521,NaN,Night,Hanging,18/9/20,1600387200,Haze