In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## import the data and make a dataframe

In [5]:
suicide_data = pd.read_csv('SuicideBD-dataset.csv')
df = suicide_data.copy()
df.set_index('id', inplace=True)

In [6]:
df

,full_name,age_group,age,gender,profession_group,religion,hometown,latitude,longitude,reason,...,feels_like,temp_min,temp_max,air_pressure,air_humidity,wind_speed,wind_deg,clouds_sky,weather_main,weather_description
id,,,,,,,,,,,,,,,,,,,,,
0,Parvez,Teen,22,Male,Worker,Muslim,Brahmanbaria,23.964142,91.118301,Harassment,...,302.86,299.15,299.15,1008,83,2.10,320,40,Haze,haze
1,Alhaj Uddin,Teen,20,Male,NaN,Muslim,Sylhet,24.894930,91.868706,Relatiohship problem,...,299.17,295.57,295.57,1012,96,1.39,116,33,Clouds,scattered clouds
2,Priti Akter,Teen,14,Female,Student,Muslim,Manikganj,23.861650,90.000320,NaN,...,304.33,301.15,301.15,1004,78,3.60,190,75,Drizzle,drizzle
3,Acchia Akhter,NaN,NaN,Female,Student,Muslim,Bogra,24.850980,89.371080,Relatiohship problem,...,303.67,299.34,299.34,1003,91,2.64,186,100,Rain,moderate rain
4,Dilshad Nahar,Teen,18,Female,Student,Muslim,Dhaka,23.810331,90.412521,NaN,...,304.49,300.15,300.15,1004,83,1.99,154,40,Haze,haze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,Akhi Akter,Teen,18,Female,Student,Muslim,"Gulisakhali, Mothbaria, Pirojpur",22.573530,89.987358,Family issue,...,302.35,299.25,299.25,1008,77,2.09,234,0,Clear,clear sky
755,Ashim Sheikh,Teen,20,Male,Student,Muslim,"Mondalpara, Goalando, Rajbari",23.764370,89.647522,Mental issue,...,305.03,301.15,301.15,1003,78,2.60,180,75,Haze,haze
756,Nasrin Akter,Teen,19,Female,Housewife,Muslim,Rangamati,22.657350,92.173271,Family issue,...,298.29,298.56,298.56,1008,51,2.45,71,75,Clouds,broken clouds
757,Rakesh Biswas,Youth,30,Male,Businessman,Hindu,"Bhatshala, Debhata, Shatkhira",22.718485,89.070477,Poverty,...,307.79,301.15,301.15,1002,94,1.50,150,40,Haze,haze
758,Efajtullah Sheikh,Old,90,Male,NaN,Muslim,"Hazarhari, Khalilnagar, Tala, Satkhira",22.708170,89.071850,Physical issue,...,308.36,302.15,302.15,1003,94,3.10,190,20,Haze,haze